/* Menú para moverse entre páginas */
.menuPaginas{
	float: left;
	width: 100%;
	background: #30A6E6;
	margin-bottom: 10px;
}
.menuPaginas ul{
	margin: 0px;
	padding-left: 25%;
}
.menuPaginas li{
	display: inline;
}
.menuPaginas a{
	float: left;
	display: block;
	margin: 0;
	padding: 5px;
	text-decoration: none;
	color: white;
	border-radius: 7px;
	font: bold 20px/30px sans-serif;
	padding: 10px 25px;
}
.menuPaginas li:hover a{ /* Cambiar el color de los enlaces a seleccionar */
	background: rgb(9, 115, 244);
} /* Fin del menú */

/* Estilo de la página inicial, la de las tablas */
header{
	text-align: center;
}
table{
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}
td img{
	height: 200px;
}


/* Nueva página 2, ahora con posicionamiento flotante */

/* Modificar el cuerpo principal de los ODS */
#ods{
	margin-left: 5px;
	margin-right: 5px;
}

#ods a{ /* Flotantes y con esquinas redondeandas */
    float: left;
	margin: 10px;
	border-radius: 10px;
	overflow: hidden;
}

#ods img{ /* Dejar todos los ODS al mismo tamaño*/
	height: 215px;
}

/* Pagina 3 Principales Retos*/
h1{
	text-align: center;
	color: rgb(9, 115, 244);
}

main{
	width: 100%;
	margin-left: 10px;
	display: block;
}

main article{
	position: absolute;
	text-align: center;
	width: 35%;
	height: 32%;
	padding: 1%;
	border: solid lightgray 2px;
	overflow: hidden;
	background: white;
	z-index: 1;
}

main img{
	width: 75%;
	height: 100%;
}

/* Cambiar el tamaño de letra de los retos */
#MainRetos p{
	font-size: 20px;
}

#MainRetos li{
	font-size: 20px;
	text-align: left;
}

/* Posicionar correctamente cada reto */
#Reto1{
	top: 30%;
	left: 10%;
}
#Reto2{
	top: 30%;
	right: 10%;
}
#Reto3{
	top: 70%;
	left: 10%;
}
#Reto4{
	top: 70%;
	right: 10%;
}
#Reto5{
	top: 110%;
	left: 10%;
}
#Reto6{
	top: 110%;
	right: 10%;
}
#Reto6 ul{
	list-style: square;
}

/* Hacer grande el reto cuando se pone el ratón encima*/
article:hover{
	z-index: 2;
	width: 50%;
	height: auto;
}
article:hover img{
	height: auto;
}

/*Parte final de la página 3 */
/* Video después de los artículos de los retos */
section{
	position: absolute;
	text-align: center;
	border: solid lightgray 2px;
	background: white;
}
#Video{
	top: 150%;
	left: 20%;
	right: 20%;
	height: 65%;
}
#Video iframe{
	height: 85%;
	width: 80%;
}
#Mapa{
	top: 220%;
	left: 20%;
	right: 20%;
	height: 75%;
}
#Mapa img{
	width: 80%;
	height: 80%;
}

/*
	Retos ambientales y solciales
		Cambio Climático
		Superopoblación
		Consumo de agua
		Contaminación
		Deforestación
		Otros Problemas
	Impacto de los actuales problemas medioambientales
		Impacto sobre las personas
			(Uno de cada de los retos)
		Impacto sobre los sectores productivos
		Importancia del trabajo transversal y las alianzas para frenar los impactos de los retos ambientales
	Medidas y acciones para minimizar los impactos ambientales
		Eficiencia energética
		Gesitión de Residuos
		Conservación de los recursos naturales
		Control de la Contaminación
		Movilidad Sostenible
		Innovación tecnológica
		Educación y sensibilización
*/