/* Pagina 3 Principales Retos*/
body{
	margin: 0;
}

h1{
	text-align: center;
	color: rgb(9, 115, 244);
}

#retorno{
	position: fixed;
	text-align: center;
	left: 10px;
	top: 300px;
	width: 100px;
	padding-bottom: 10px;
	border: 1px solid lightgray;
	border-radius: 8px;
}
#retorno img{
	width: 50px;
}
#retorno a{
	font-size: larger;
}

/* Parte principal de la página */
main{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

#retos{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	justify-content: center;
	padding-left: 40px;
	padding-right: 40px;
}

article{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	border: solid lightgray 2px;
	border-radius: 10px;
}

#retos article{
	width: 700px;
	text-align: center;
	margin: 0 20px 30px 20px;
}

.imagen{
	width: 600px;
}
.imagen img{
	width: 100%;
}

/* Ajustar el texto */
p{
	font-size: 20px;
	padding: 5px;
}
ul{
	list-style: square;
	font-size: 20px;
	text-align: left;
}

/* Los 2 articulos finales */
#otros{
	width: 75%;
}
#otros article{
	margin-bottom: 30px;
}

#video{
	height: 700px;
}
iframe{
	height: 85%;
	width: 85%;
}

#mapa{
	height: 960px;
}
#otros img{
	width: 80%;
	margin-bottom: 30px;
}


/* Para que adepte mejor a otras pantallas */
@media screen and (width < 1700px) {
	#retos{ 
		flex-direction: column;
		align-items: center;
	}
	#retos article{	width: 80% }
	.imagen{ width: 80%; }

	#otros article{
		width: 100%;
		height: auto;
		aspect-ratio: 16 / 9;
		/* Necesito usar esto para que el iframe del video no se descuadre */
	}
}

@media screen and (width < 1180px) {
	#retorno{ visibility: hidden; }
}










