#retorno{
	position: fixed;
	text-align: center;
	left: 2%;
	top: 30%;
	width: 5%;
	padding-bottom: 10px;
	border: 1px solid lightgray;
	border-radius: 8px;
}
#retorno img{
	width: 50px;
}
#retorno a{
	font-size: larger;
}


main{
	display: flex;
	flex-direction: column;
	margin-left: 9%;
	margin-right: 2%;
	margin-bottom: 20px;
}

article{
	border: 1px solid lightgray;
	border-radius: 10px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	margin: 10px;
	padding-left: 20px;

	display: flex;
	justify-content: space-between;
}
article div{
	width: 65%;
}

article p, article li{
	font-size: large;
}
article ul{
	list-style: square;
}

aside{
	width: 30%;
	margin: 10px 50px 10px 30px;
	display: flex;
	align-items: center;
}

aside img{
	width: 100%;	
}
/*
* {border: 1px solid;}
*/