#retorno{
	position: fixed;
	text-align: center;
	left: 10px;
	top: 30%;
	width: 80px;
	padding-bottom: 10px;
	border: 1px solid lightgray;
	border-radius: 8px;
}
#retorno img{
	width: 50px;
}
#retorno a{
	font-size: larger;
}


main{
	display: flex;
	flex-direction: column;
	margin-left: 100px;
	margin-right: 30px;
	margin-bottom: 20px;
}

article{
	border: 1px solid lightgray;
	border-radius: 10px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	margin: 10px;
	padding-left: 20px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

article p, article li{
	font-size: large;
}
article ul{
	list-style: square;
}

aside{
	margin: 10px 50px 10px 30px;
	display: flex;
	align-items: center;
}

aside img{
	width: 400px;
}


@media screen and (width < 1200px) {
	main{ margin-left: 30px; }
	#retorno{ visibility: hidden; }
	article{flex-direction: column; }
	.imagen img{
		margin-left: auto;
		margin-bottom: 20px;
	}
}
